@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-ExtraBold.woff2') format('woff2'),
        url('HostGrotesk-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-BoldItalic.woff2') format('woff2'),
        url('HostGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-Bold.woff2') format('woff2'),
        url('HostGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-Italic.woff2') format('woff2'),
        url('HostGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-Light.woff2') format('woff2'),
        url('HostGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-ExtraBoldItalic.woff2') format('woff2'),
        url('HostGrotesk-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-Medium.woff2') format('woff2'),
        url('HostGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-MediumItalic.woff2') format('woff2'),
        url('HostGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-LightItalic.woff2') format('woff2'),
        url('HostGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('HostGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-Regular.woff2') format('woff2'),
        url('HostGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('HostGrotesk-SemiBold.woff2') format('woff2'),
        url('HostGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

